@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL BASE */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply font-product bg-black text-white select-none overflow-hidden;
  touch-action: manipulation;
  overscroll-behavior: none;
  font-smoothing: antialiased;
}

#root {
  display: flex;
  flex-direction: column;
}

/* FUENTES PERSONALIZADAS */
@font-face {
  font-family: 'ProductSans';
  src: url('./assets/fonts/ProductSansBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'ProductSans';
  src: url('./assets/fonts/ProductSansRegular.ttf') format('truetype');
  font-weight: 400;
}

/* INPUTS BASE */
@layer base {

  input,
  textarea,
  select {
    @apply text-base bg-white/5 text-white placeholder-white/50 rounded-ios-md px-4 py-2 focus:ring-2 focus:ring-ios-primary focus:outline-none transition duration-200;
  }
}

/* SCROLLBAR PERSONALIZADA */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}

html {
  scrollbar-color: #4b5563 #111827;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* GENERAL UX */
*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  user-select: none;
  pointer-events: none;
}

/* EFECTO GLASS */
.ios-glass {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}

/* TRANSICIONES */
.ios-transition {
  @apply transition-all duration-300 ease-in-out;
}

/* TIPOGRAFÍA */
.ios-title {
  @apply font-product text-[1.8rem] leading-[2.2rem] font-bold;
}

.ios-body {
  @apply font-product text-base leading-6;
}

.ios-caption {
  @apply font-product text-sm text-white/60;
}

/* BOTÓN iOS */
.ios-button {
  @apply bg-ios-primary text-white font-product rounded-ios-md px-4 py-2 hover:opacity-90 active:scale-95 ios-transition shadow-md;
}



.listbox-z {
  z-index: 9999 !important;
  position: absolute;
}