@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  --- CORRECCIÓN CON FLEXBOX ---
  Usamos Flexbox para un control de layout más robusto. Esto asegura que #root
  ocupe todo el espacio y que nuestro AppLayout pueda crecer para llenarlo.
*/
html,
body,
#root {
  height: 100%;
  /* Ocupa toda la altura de la ventana */
  margin: 0;
  padding: 0;
  /* Elimina 'overflow: hidden' para que el contenido pueda desbordarse */
}

body {
  font-family: 'ProductSans', sans-serif;
  @apply select-none;

  touch-action: manipulation;
    overscroll-behavior: none;
}

#root {
  display: flex;
  /* Mantiene la estructura flexbox */
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

/* El resto de tus estilos se mantienen como estaban */
@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@layer base {

  input,
  textarea,
  select {
    @apply text-base;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  pointer-events: none;
  user-select: none;
}

@font-face {
  font-family: 'ProductSans';
  src: url('./assets/fonts/ProductSansBold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'ProductSans';
  src: url('./assets/fonts/ProductSansRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*:focus {
  outline: none;
}

/* Estilo base (mobile primero) */
.dark-calendar {
  font-size: 10px;
  @apply bg-white rounded-lg shadow-lg p-2 text-sm;
}

.dark-datepicker-popper {
  @apply z-[9999];
}

.dark-calendar .react-datepicker__day-name,
.dark-calendar .react-datepicker__day,
.dark-calendar .react-datepicker__time-name {
  font-size: 10px;
  width: 0.8rem;
  height: 0.8rem;
  line-height: 1rem
}

.dark-calendar .react-datepicker__time-list-item {
  font-size: 9px;
  padding: 4px 6px;
}

/* Estilo para desktop: agranda todo */
@media (min-width: 380px) {
  .dark-calendar {
    font-size: 14px;
  }

  .dark-calendar .react-datepicker__day-name,
  .dark-calendar .react-datepicker__day,
  .dark-calendar .react-datepicker__time-name {
    font-size: 13px;
    width: 1.7rem;
    height: 1.7rem;
  }

  .dark-calendar .react-datepicker__time-list-item {
    font-size: 12px;
    padding: 6px 10px;
  }
}

/* Popper para que no se superponga */
  .dark-datepicker-popper {
  z-index: 9999 !important;}